@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


html, body{
	width: 100%;
	justify-content: center;
	background-color:#e5e8ed;
	font-family: 'Jua';
}

.container{
	color:#fff;
}
.title{
	width: 100%;
	
	font-family: 'Do Hyeon';
	display:flex;
	justify-content: center;
	text-align:center;
	flex-direction: column;
	background: url("../img/VARC6659NX9U1562608189511.jpg") top right no-repeat;
	background-size: cover;
}
.title div{
	
}
.title h1{
	font-size:72px;
	font-weight: 800;
}
.title h2{
	font-size:54px;
	font-weight: 800;
}

.img_tier{
	z-index:20;margin-top:5em;display:flex;flex-direction:row;justify-content: center;
}
.tier_desc{
	vertical-align: middle;font-size:72px;font-weight:800;margin-right:20px;z-index:2;
}

.container_list{
	color:#fff;
}

.container_tier_parent{
	display:flex;
	flex-direction: column;
	max-width:90%;
	width:90%;
	margin-left:5%;
	justify-content: center;
	z-index:20;
}

.container_tier{	
	display:flex;
	max-width:90%;
	width:90%;
	margin-left:5%;
	justify-content: center;
	z-index:20;
}


.tier-item{
    position: relative;
	display:inline-block;
	background-color:#cccccc10;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	font-size: 1.8em;
}
.tier-item-on{
	position: relative;
	display:inline-block;
	background-color:#cccccc10;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	font-size: 1.8em;
}
.kart-on-air{
	outline:0.15em solid #66FF00;
	border-radius:0.5em;
}
/* .tier-thumb{
	display: none;
    position: absolute;
    left: -200px;
    top: -280px;
	z-index:998;
	width:480px;
	height:270px;
	border: 0.1em solid white;
} */

.tier-item:hover .tier-thumb{
	display: block;
}
.tier-image{
	height:100px;
	width:100px;
	border-radius:0.4em;
	border:0.1em solid white;
}
.tier-image-on{
	height:100px;
	width:100px;
	border-radius:0.4em;
	border:0.1em solid yellow;
}
.tier-item-on:hover .tier-thumb{
	display: block;
}

.star-tier-item{
    position: relative;
	display:inline-block;
	width:350px;
	/* background-color:#cccccc10; */
	margin-right:40px;
	margin-bottom:30px;
	text-align:center;
	align-content: stretch;
	border-radius: 24px;
	/* box-shadow: 10px 10px 20px #bbbec5; */
	box-shadow: 2px 5px 15px #7b7e85;
	cursor:pointer;
	z-index:5;
}
.star-tier-container{
	position:absolute;
	width:100%;
	height:50%;
	top:0.2em;
	left:0;
	display: inline-block;
	align-content: space-around;
	z-index:2;
	pointer-events: none;
	text-shadow: 1px 1px #000000;
}
.star-tier-container:after{
  content: attr(record);
}
/* .star-tier-container2{
	position:absolute;
	width:100%;
	height:100%;
	top:1.4em;
	left:0;
	display: inline-block;
	align-content: space-around;
	z-index:2;
	pointer-events: none;
	text-shadow: 1px 1px #000000;
} */
.star-tier-container2{
	display: none;
	flex-direction: column;
	position:absolute;
	width:100%;
	height:45%;
	top:36px;
	left:0;
	text-shadow: 1px 1px #000000;
	font-size: 20px;
	cursor:pointer;
}
.desc-container{
	display: flex;
	flex-direction: column;
	justify-content:center;
	position:absolute;
	top:0;
	left:120px;
	width:220px;
	height:120px;
	margin-left: 10px;
	background-color:#e5e8ed;
	border-radius: 0 24px 24px 0;
	text-align: left;
	font-size:24px;
	pointer-events: none;
}
.desc-tier{
	color:green;
}

.desc-Zerg{
	color:purple;
}
.desc-Terran{	
	color:blue;
}
.desc-Protoss{
	color:yellow;	
}

/* .star-tier-container2:after{
  content: attr(record);
} */
.star-tier-image{
	display:block;
	width:120px;
	height:120px;
	/* border-radius:0.2em; */
	/* pointer-events: none; */
	color: var(--color, #ffffff);
	/* border: var(--b, null); */
	filter:brightness(100%);
	border-radius:24px 0 0 24px;
	/* border-radius: 50%; */
	/* object-fit: cover;
	object-position: 0 10%; */
	pointer-events: none;
}
.span-button{
	z-index: 3;
	cursor: pointer;
}
.span-button2{
	display: none;
	position:absolute; 
	top:6px;
	left:32px;
	font-size: 20px;
	pointer-events: none;
	cursor: pointer;
	z-index: 3;
}

.broad-title{
	display: none;
    position: absolute;
    left: -200px;
    top: -280px;
	z-index:999;
	width:480px;
	font-size:24px;
	text-align:center;
	text-shadow: 1px 1px #000000;
}

.star-tier-item:hover .star-tier-container2{
	display:flex;
}
.star-tier-item:hover .span-button2{
	display: block;
}
.star-tier-item:hover .tier-thumb{
	display: block;
}
.star-tier-item:hover .broad-title{
	display: block;
}
.on-air{
	outline:0.2em solid #66FF00;
	border-radius:0.5em;
}
.tier-item-unselected{
	filter:brightness(30%);
}
.tier-item-selected{
	border:.3rem solid green;
	filter:brightness(150%);
}

.Z{
	display: block;
	color:#9B30FF;
	font-size:1.8em;
}
.T{
	display: block;
	color:#0080ff;
	font-size:1.8em;
}
.P{
	display: block;
	color:yellow;
	font-size:1.8em;
}

.U{
	display: block;
	color:white;
	font-size:1.8em;
}

.image_Z{
	border: 0.2em solid #9B30FF;
}

.image_T{
	border: 0.2em solid #0080ff;
}
.image_P{
	border: 0.2em solid yellow;
}

.tier_up{ 
 border: 0.2rem solid #fb13e1;
}

.tier_up2{ 
 border: 0.2rem solid #05ffff;
}



.image_U{
	border: 0.2em solid white;
}

.-{
	display: block;
	color:white;
}

.bj-name{
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.thumb_container{
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 0 auto;
	pointer-events: none;
	z-index:4;
}
.tier-thumb{
	display: none;
	/* width:480px;
	height:270px; */
	width:720px;
	height:405px;
    position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.1em solid white;
	z-index:4;
	pointer-events: none;
}
.broad-title{
	display: none;
	/* width:480px;
	height:270px; */
	width:720px;
	height:405px;
    position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	font-family: Jua;
	font-size: 32px;
	text-align: center;
	color: #ffffff;
	/* text-shadow: 1px 1px #000000; */
	text-shadow: 0 1px 0 #db92b8, 0 2px 0 #bc7dc0, 0 3px 0 #9f4fa3, 0 4px 0 #862c92, 0 5px 0 #6f147b, 0 6px 0 #671070, 0 7px 0 #5c195d, 0 8px 0 #442452, 0 0 5px rgba(230, 139, 139, 0.05), 0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3), 0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3);
	z-index: 99999;
}