
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.thumb_container{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 0 auto;
	pointer-events: none;
	z-index:4;
}
.tier-thumb{
	display: none;
	/* width:480px;
	height:270px; */
	width:720px;
	height:405px;
    position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.1em solid white;
	pointer-events: none;
}
.off_image{
	position: absolute;
	pointer-events: none;
}
.off_div{	
	position: absolute;
	cursor: pointer;
}
.off_div:hover + img{
	transition: opacity .5s;
	opacity: 0;
}
.off_div:hover .tier-thumb{
	display: block;
}

.broad-title{
	display: none;
	/* width:480px;
	height:270px; */
	width:720px;
	height:405px;
    position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	font-family: Jua;
	font-size: 32px;
	text-align: center;
	color: #ffffff;
	/* text-shadow: 1px 1px #000000; */
	text-shadow: 0 1px 0 #db92b8, 0 2px 0 #bc7dc0, 0 3px 0 #9f4fa3, 0 4px 0 #862c92, 0 5px 0 #6f147b, 0 6px 0 #671070, 0 7px 0 #5c195d, 0 8px 0 #442452, 0 0 5px rgba(230, 139, 139, 0.05), 0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3), 0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3);
	z-index: 99999;
}